*{
    margin: auto;
}


body{
    background-color: skyblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    text-align : center;
    padding: 20rem 10rem;;

    

}

h1{
    font-size: 60px;
    color: rgb(0, 8, 14);
    padding: 20px 10px;
    border-bottom: 1px solid white;
}

h2 { 
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 50px;
    color: rgb(11, 2, 2);

}


button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 10px;

}

#increment-btn {
    background-color: skygreenblue;
}

#save-btn {
    background-color: brown;
}