body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20rem 0;
}

span{
    border-bottom: 2px solid black;
    padding: 4px;
    
}


button{
    background: fixed whitesmoke;
    cursor: pointer;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    padding: 5px 10px;
    
}

